[submodule "thirdparty/glfw"]
	path = thirdparty/glfw
	url = git@github.com:glfw/glfw.git
[submodule "thirdparty/glm"]
	path = thirdparty/glm
	url = git@github.com:g-truc/glm.git
[submodule "thirdparty/stb/headers"]
	path = thirdparty/stb/headers
	url = git@github.com:nothings/stb.git
[submodule "thirdparty/assimp"]
	path = thirdparty/assimp
	url = git@github.com:assimp/assimp.git
